<configuration>
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>
    <logger name="components" level="DEBUG"/>
    <logger name="flows" level="DEBUG"/>
    <logger name="pages" level="DEBUG"/>
    <logger name="framework" level="DEBUG"/>
    <root level="WARN">
        <appender-ref ref="CONSOLE"/>
    </root>

</configuration>